{% extends "base.html" %}

{% block title %}View Booking{% endblock %}

{% block content %}

<body>
    <div class="avb_table">
        <div class="avb_table_header">
            <h1 style="color:black;text-align: center;">All Booking</h1>
        </div>
        <div class="avb_table_body">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Destination</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Time Duration</th>
                        <th>Total Cost</th>
                        <th>Booking Code</th>
                        <th>Booking Date</th>
                        <th>Booking Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in booking %}
                    <tr>
                        <td>{{b.id}}</td>
                        <td>{{b.b_trip}}</td>
                        <td>{{b.b_name}}</td>
                        <td>{{b.b_email}}</td>
                        <td>{{b.b_phone}}</td>
                        <td>{{b.duration}}</td>
                        <td>{{b.total_cost}} MMK</td>
                        <td>{{b.b_code}}</td>
                        <td>{{b.b_date}}</td>
                        <td>
                            <form method="POST" action="/admin_booking_status_confirm/{{user.id}}/{{b.id}}/">
                                {% csrf_token %}
                                <button {% if b.b_status == True %} disabled {% endif %} style="border:none;">
                                    {% if b.b_status == False %} <span class="status_confirm">Confirm</span> {% else %}<span class="status_confirmed">Confirmed</span> {% endif %}
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</body>
{% endblock %}

