{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<body>

    <div class="error">
        {{form.errors}}
    </div>
    <div class="login-box">
        <form method="POST">
            {% csrf_token %}
            <h2>Change Password</h2><br>
            <div class="login-input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
               {{form.old_password}}
                <label><b>Old Password</b></label>
            </div>
            <div class="login-input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{form.new_password1}}
                <label><b>New Password</b></label>
            </div>
            <div class="login-input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{form.new_password2}}
                <label><b>Confirm New Password</b></label>
            </div>
            <button type="submit" class="login-button">Change Password</button>
        </form>
    </div>
    </body>
{% endblock %}