{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<section>
    <div class="pass-success-box">
        <h3>Your password is successfully changed! <span class="pass-success-name">{{user.username}}</span></h3>
        <center>
            {% if user.username == "admin" %}
            <a href="{% url 'admin_home' %}" ><button class="pass-success-btn">Go Back</button></a>
            {% else %}
            <a href="{% url 'blog' %}" ><button class="pass-success-btn">Go Back</button></a>
            {% endif %}
        </center>
    </div>
    
</section>
{% endblock %}